.form
{
    margin-top: 100px;
   
}
.success
{
    background-color: rgb(153, 255, 144);
    position: absolute;
    margin-top:100px;
}
.fail
{
    background-color: rgb(255, 144, 144);
    position: absolute;
    margin-top:100px;
}
.button
{
  position: absolute;
    margin-top:150px;
    margin-left: 450px;
    width:150px;
    background-color: rgb(58, 255, 216);
}