.progressBar
{
    width:200px;
    height:5px;
    border:2px solid black;
    margin-top: 2px;
   
}
.lowsec
{
     width:20%;
     background-color: red;
     height: 100%;
}
.midsec
{
     width:50%;
     background-color: yellow;
     height: 100%;
}
.highsec
{
     width:100%;
     background-color: green;
     height: 100%;
}
.password
{
    margin-top: 50px;
    position: absolute;
}
